# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Python virtual environments
venv/
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Generated reports
*.html

# Logs
*.log
